<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" >
<head >
    <title>发布</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">


    <!-- 引入 Bootstrap -->

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">大侠社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  th:text="${session.user.name}"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">私信</a></li>
                        <li><a href="#">设置</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}">
                    <a href="https://gitee.com/oauth/authorize?client_id=0d58e9b09565b080afe096ff1106f5d391d929f4cae340f6b8dcf4be7c5824f8&redirect_uri=http://localhost:8080/callback&response_type=code">登录</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12  col-xm-12 col-xs-12" >
            <h3><span class="glyphicon  glyphicon-menu-hamburger" aria-hidden="true">发起</span></h3>
            <hr/>
            <form action="">
                <div class="form-group">
                    <label for="title">问题标题：</label>
                    <input type="text" class="form-control" id="title" placeholder="问题标题">
                </div>
                <div class="form-group">
                    <label for="title">问题补充：</label>
                    <textarea name="description" id="description" class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" placeholder="请输入标签">
                </div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>

        <div class="col-lg-3 col-md-12  col-xm-12 col-xs-12" >
            <h2>问题补充</h2>
            <span>这是一个神奇的网站</span>
        </div>
    </div>
</div>
</body>
</html>